node_modules
dist/
.DS_Store
.env.prod
*.local
tmp
.idea/
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
Thumbs.db
logs
*.log
