@import "tailwindcss";

@theme {
  --color-les-gray-50: #f4f9fb;
  --color-les-gray-100: #edf5f8;
  --color-les-gray-200: #dadada;
  --color-les-gray-300: #838383;
  --color-les-gray-400: #313131;
  --color-les-gray-500: #22222c;
  --color-les-gray-600: #1a1a26;
  --color-les-gray-700: #12121b;

  --color-les-highlight: #2a2a3d;
  --color-sidebar: #111827;

  --transition-property-width: width;
}

@layer utilities {
  @font-face {
    font-family: "roboto";
    src: url("/public/roboto.ttf");
  }

  body {
    font-family: "roboto", sans-serif;
  }

  .calendar {
    --date-picker-foreground: var(--color-les-highlight);
    --date-picker-background: var(--color-white);
    --date-picker-highlight-border: var(--color-blue-500);
    --date-picker-highlight-shadow: var(--color-les-highlight);
    --date-picker-selected-color: var(--color-white);
    --date-picker-selected-background: var(--color-blue-500);
  }
}

@layer base {
  input[type="checkbox"],
  input[type="radio"] {
    @apply h-4 w-4 cursor-pointer;
    accent-color: var(--color-les-highlight);
    accent-color: var(--tw-color-les-highlight);
  }
}
