@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "roboto";
  src: url("/public/roboto.ttf");
}

body {
  font-family: "roboto", sans-serif;
}

@layer base {
  input[type="checkbox"],
  input[type="radio"] {
    @apply h-4 w-4 cursor-pointer;
    accent-color: theme("colors.les-highlight");
    accent-color: var(--tw-color-les-highlight);
  }
}
